<h2>MyFeeds</h2>

<div class="container" ng-app="gdReadModule" ng-controller="myFeedCtrl" ng-cloak class="ng-cloak">
    <div class="row">
        <div class="col-md-2">
            <!--    <select>
                    <option value="Un-Read">Un-Read</option>
                    <option value="UnRead">All</option>
                </select>-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button ng-click="openAddFeedModal()" class="linkButton">+Add Feed</button>
            <!--<button ng-click="selectAllFeeds()">All Feeds</button>-->
            <div id="FeedList" class="visible-sm visible-xs">
                <select ng-change="feedSelected()" ng-model="comboSelectedFeed" ng-options="feed.Title for feed in feeds">
                    <option value="default" disabled="disabled">Feeds</option>
                    <!--<option ng-repeat="feed in feeds" value="{{feed}}">{{feed.Title}}</option>-->
                </select>
            </div>
            <div id="FeedList" class="visible-md visible-lg">
                <div ng-show="feedsLoading">Loading Feeds...</div>
                Feeds
                <hr />
                <ul>
                    <li ng-repeat="feed in feeds"><button ng-click="feedSelected(feed)" ng-class="{SelectedFeed:feed.selected}" ng-class="{UnReadPost:feed.UnreadCount>0}">{{feed.Title}} <span ng-show="feed.UnreadCount>0">({{feed.UnreadCount}})</span></button></li>
                </ul>
                Starred<br />

                Folders
                <hr />
            </div>
        </div>
        <div class="col-md-10" id="FeedReadingPane">
            <div class="Header"><h2>{{currentFeed.title}}</h2></div>
            <div class="PostContainer">
                <div ng-show="currentFeed.Posts" id="feedToolBar">
                    <div class="text-right">
                        <button>Unsubscribe</button>
                        <button>Refresh</button>
                        <button>Mark All As Read</button>
                    </div>
                </div>
                <div ng-repeat="post in currentFeed.Posts">
                    <div ng-class-odd="'TableRow'" ng-class-even="'AlternatingTableRow'" class="PostHeader" ng-click="selectPost(post)">
                        <div class="PostTitle">
                            <span ng-show="post.Selected">&#9660;</span>
                            <span ng-hide="post.Selected">&#9658;</span>
                            <span ng-show="post.Starred">&#9733;</span>
                            <span ng-hide="post.Starred">&#9734;</span>
                            <span ng-class="{UnReadPost:!post.Read}">{{post.Name}}</span>
                        </div>
                        
                        <div class="PostDate"><span class="visible-md visible-lg">{{post.PublishDate}}</span></div>
                        <div class="Clear">&nbsp;</div>

                        <div ng-hide="!post.Selected" ng-bind-html="post.Content" class="TableRow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="addFeedWindow.html">
        <div class="modal-header">
            <h3>Add Feed</h3>
        </div>
        <div class="modal-body">
            Feed URL :  <input type="text" ng-model="modelValues.url" id="addFeedUrl" focus-on="addFeedFocus" />
            <div ng-show="feedLoading">Fetching Feed...</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>


</div>


@section scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="~/Scripts/myFeeds.js"></script>
}
