body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/*MyFeed Page*/
.UnReadPost {
    font-weight: bold;
}

.PostHeader {
    cursor: pointer;
    cursor: hand;
    padding-right: 3px;
}

.linkButton {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    cursor: hand;
    color: blue;
    text-decoration: underline;
    text-align: left;
    height: 18px;
    overflow: hidden;
}

#FeedList {
    font-size: 10pt;
}

    #FeedList ul {
        margin-left: 0px;
        padding-left: 0px;
    }

        #FeedList ul li {
            list-style: none;
        }

    #FeedList button {
        background-color: transparent;
        border-style: none;
        cursor: pointer;
        cursor: hand;
        text-align: left;
        height: 18px;
        overflow: hidden;
        width: 100%;
    }

        #FeedList button.SelectedFeed {
            background-color: #C2CFF1;
        }



    #FeedList hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

#FeedReadingPane .Header {
    background-color: #C2CFF1;
    margin-bottom: 0px;
}

    #FeedReadingPane .Header h2 {
        background-color: #C2CFF1;
        margin-bottom: 0px;
        margin-top: 0px;
    }


.PostContainer {
    background-color: #EBEFF9;
    margin-top: 0px;
}

.TableRow {
    background-color: #ffffff;
}

.TableRowAlternating {
    background-color: #F3F5FC;
}


#feedToolBar {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
}

.FeedTitle {
        float: left;
    width: 110px;
    height: 19px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;	
	white-space: nowrap;
}
.FeedCount {
        float: left;
    width: 20%;
    height: 19px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;	
	white-space: nowrap;
}

.PostTitle {
    float: left;
    width: 80%;
    height: 19px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;	
	white-space: nowrap;
}



.PostDate {
    float: left;
    width: 20%;
    height: 18px;
    overflow: hidden;
    text-align: right;
}

.Clear {
    clear: both;
    visibility: hidden;
    height: 0px;
    width: 0px;
}
.FeedItem {
    height: 19px;
    overflow: hidden;
}

.PostContent {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: gainsboro;
    margin: 0 0 0 0;
}