body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}






/*MyFeed Page*/
.UnReadPost {
    font-weight: bold;
}

.PostTitle {
    border-bottom-style: solid;
    cursor: pointer;
    cursor: hand;
    border-width: 1px;
    border-color: #444444;
}

#FeedList {
    font-size: 8pt;
}

    #FeedList ul {
        margin-left: 0px;
        padding-left: 0px;
    }

        #FeedList ul li {
            list-style: none;
        }

    #FeedList button {
        background-color: transparent;
        border-style: none;
        cursor: pointer;
        cursor: hand;
        color: blue;
    }
